@page "/"
@inject IJSRuntime JSRuntime
@inject CasheeshContext Context

<div class="m-0">
    <div class="row m-0 w-100 align-items-center">

        <img src="favicon.ico" style="height:64px;" class="col-auto p-0 m-3" />
        <h2 class="col m-0 p-0 text-stroke">Casheesh</h2>
        <div class="col-auto m-3 p-0 button-container button-container-36">
            <input @ref="AccountCreationCheckboxReference" class="invisible-toggle" type="checkbox" id="AccountCreationToggle" />
            <label class="button-label button-label-36 m-0" for="AccountCreationToggle">
                <i class="button-bright position-absolute open-button mdi mdi-pencil mdi-36px icon-responsive-36" @onclick="ToggleEditMode"></i>
                <i class="button-bright position-absolute close-button mdi mdi-close mdi-36px icon-responsive-36" @onclick="ToggleEditMode"></i>
            </label>
        </div>
    </div>

    <div @ref="AccountCreationContainerReference" class="hidden-container overflow-hidden">
        <div class="d-flex flex-row bd-highlight align-items-center justify-content-end mb-3 mr-2">
            <i class="button-bright button-label-36 mdi mdi-piggy-bank mdi-36px m-0 mr-2"></i>
            <label class="text-stroke m-0 mr-2">Net worth card:</label>
            <input @bind="EnableNetWorthCard" class="m-0 mr-2" type="checkbox" id="NetWorthCardCheckbox" />
        </div>
        <div class="d-flex flex-row bd-highlight align-items-center justify-content-end mb-3 mr-2">
            <i class="button-bright button-label-36 mdi mdi-chart-line mdi-36px m-0 mr-2"></i>
            <label class="text-stroke m-0 mr-2">Chart card:</label>
            <input @bind="EnableChartCard" class="m-0 mr-2" type="checkbox" id="ChartCardCheckbox" />
        </div>
        <div class="d-flex flex-row bd-highlight align-items-center justify-content-end mb-3 mr-2">
            <i class="button-bright button-label-36 mdi mdi-cash-multiple mdi-36px m-0 mr-2"></i>
            <label class="text-stroke m-0 mr-2">Bounties card:</label>
            <input @bind="EnableBountiesCard" class="m-0 mr-2" type="checkbox" id="NetWorthCardCheckbox" />
        </div>
        <div class="d-flex flex-row bd-highlight align-items-center justify-content-end mb-3 mr-2">
            <i class="button-bright button-label-36 mdi mdi-bank-plus mdi-36px m-0 mr-2"></i>
            <label class="text-stroke m-0 mr-2">Name:</label>
            <input @bind="NewAccountName" class="@(IsNewAccountNameValid ? "input-valid" : "input-invalid") input-name m-0 mr-2" id="AccountName" aria-describedby="AccountNameFeedback" @oninput="NewAccountNameChanged" required />
            <i class="button-bright @(IsNewAccountNameValid ? string.Empty : "button-disabled") mdi mdi-content-save icon-responsive m-0" @onclick="CreateAccount"></i>
        </div>
    </div>

    <div class="d-flex flex-wrap m-0 justify-content-center">
        @foreach (Account account in Context.Accounts.OrderBy(account => account.Order))
        {
            if (account.Name != "Net Worth" || EnableNetWorthCard)
            {
                <AccountCard Account="account" @ref="AccountCardReference" AccountChangedCallback="RefreshBalance" AccountOrderChangedCallback="ChangeAccountOrder" IsEditing="IsEditing" />
            }
        }

        @if (EnableChartCard)
        {
            <div class="card card-worth-graph bg-dark text-white m-3">
                <div class="d-flex flex-row justify-content-between p-3">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="card-title text-stroke m-0">Net Worth by Date</h4>
                    </div>
                    <i class="button-label mdi mdi-chart-line"></i>
                </div>
                <div class="p-3 w-100 h-100">
                    <Chart @ref="Chart" Config="LineConfig"></Chart>
                </div>
            </div>
        }

        @if (EnableBountiesCard)
        {
            <BountiesCard AccountChangedCallback="RefreshAccountBalance" />
        }
    </div>
</div>

@code
{
    private bool enableNetWorthCard;
    private bool EnableNetWorthCard { get { return enableNetWorthCard; } set { enableNetWorthCard = value; UpdateSettings(); } }
    private bool enableChartCard;
    private bool EnableChartCard { get { return enableChartCard; } set { enableChartCard = value; UpdateSettings(); } }
    private bool enableBountiesCard;
    private bool EnableBountiesCard { get { return enableBountiesCard; } set { enableBountiesCard = value; UpdateSettings(); } }

    private string NewAccountName { get; set; }
    private bool IsNewAccountNameValid { get; set; } = false;

    private bool IsEditing { get; set; } = false;
    private ElementReference AccountCreationCheckboxReference { get; set; }
    private ElementReference AccountCreationContainerReference { get; set; }

    private List<AccountCard> AccountCardReferences = new();
    private AccountCard AccountCardReference { set => AccountCardReferences.Add(value); }

    private Chart Chart;
    private LineConfig LineConfig;

    private FileInfo SettingsFile;

    private string[] colors =
    {
        "rgb(204,81,81)",
        "rgb(81,204,204)",
        "rgb(142,204,81)",
        "rgb(142,81,204)",
        "rgb(204,173,81)",
        "rgb(81,204,112)",
        "rgb(81,112,204)",
        "rgb(204,81,173)",
        "rgb(204,127,81)",
        "rgb(188,204,81)"
    };

    protected async override Task OnInitializedAsync()
    {
        LineConfig = new LineConfig
        {
            Options = new LineOptions
            {
                Responsive = true,
                MaintainAspectRatio = false,
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true,
                },
                Hover = new Hover
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Scales = new Scales
                {
                    XAxes = new List<CartesianAxis>
                    {
                        new TimeAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Date",
                            },
                            Time = new TimeOptions
                            {
                                TooltipFormat = "LL"
                            },
                            Ticks = new TimeTicks
                            {
                                FontColor = "#ffffff"
                            },
                            GridLines = new GridLines
                            {
                                Color = "#6c757d"
                            }
                        }
                    },
                    YAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Balance"
                            },
                            Ticks = new LinearCartesianTicks
                            {
                                FontColor = "#ffffff",
                                Callback = new JavaScriptHandler<AxisTickCallback>("chartCallbacks.formatCurrencyString")
                            },
                            GridLines = new GridLines
                            {
                                Color = "#6c757d"
                            }
                        }
                    }
                },
                Legend = new Legend
                {
                    Labels = new LegendLabels
                    {
                        FontColor = "#ffffff"
                    }
                }
            }
        };

        Directory.CreateDirectory("/data");
        SettingsFile = new FileInfo(Path.Combine("/data", "settings.json"));

        if (!SettingsFile.Exists)
        {
            EnableNetWorthCard = true;
            EnableChartCard = true;
            EnableBountiesCard = true;
            UpdateSettings();
        }

        (EnableNetWorthCard, EnableChartCard, EnableBountiesCard) = JsonConvert.DeserializeObject<(bool, bool, bool)>(File.ReadAllText(SettingsFile.FullName));

        foreach (Account account in Context.Accounts)
        {
            LineConfig.Data.Datasets.Add(new LineDataset<TimePoint>(account.Balances.OrderBy(balance => balance.Timestamp).Select(balance => new TimePoint(balance.Timestamp.Date, balance.Value)))
            {
                Label = account.Name,
                LineTension = 0,
                Fill = false,
                BorderColor = colors[account.Order % 10]
            });
        }

        await RefreshBalance();
    }

    private void UpdateSettings()
    {
        File.WriteAllText(SettingsFile.FullName, JsonConvert.SerializeObject((EnableNetWorthCard, EnableChartCard, EnableBountiesCard)));
    }

    private async Task ToggleEditMode()
    {
        if (!IsEditing)
        {
            await JSRuntime.InvokeVoidAsync("ChangeElementHeight", AccountCreationContainerReference, 190);
            IsEditing = true;
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("ChangeElementHeight", AccountCreationContainerReference, 0);
            IsEditing = false;
        }
    }

    private async Task NewAccountNameChanged(ChangeEventArgs changeEventArgs)
    {
        if (string.IsNullOrWhiteSpace((string)changeEventArgs.Value) || await Context.FindAsync<Account>((string)changeEventArgs.Value) != null)
            IsNewAccountNameValid = false;
        else
            IsNewAccountNameValid = true;

        await InvokeAsync(StateHasChanged);
    }

    private async Task CreateAccount()
    {
        if (string.IsNullOrWhiteSpace(NewAccountName) || await Context.FindAsync<Account>(NewAccountName) != null)
        {
            await JSRuntime.InvokeAsync<string>("alert", $"Please enter a valid unique name for the account.");
            return;
        }

        Context.Accounts.Add(new Account
        {
            Name = NewAccountName,
            Order = !Context.Accounts.Any() ? 1 : Context.Accounts.OrderByDescending(account => account.Order).First().Order + 1
        });

        int orderReset = 1;
        foreach (Account account in Context.Accounts.OrderBy(account => account.Order).ToList())
            account.Order = orderReset++;

        await Context.SaveChangesAsync();

        NewAccountName = string.Empty;
        IsNewAccountNameValid = false;
    }

    private async Task RefreshBalance()
    {
        AccountCard netWorthCard = AccountCardReferences.FirstOrDefault(accountCard => accountCard.Account.Name == "Net Worth");
        if (netWorthCard != null)
            await netWorthCard.UpdateNetWorth();
    }

    private async Task RefreshAccountBalance()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task ChangeAccountOrder((string AccountName, bool moveUp) newAccountOrder)
    {
        Account changingAccount = Context.Accounts.Find(newAccountOrder.AccountName);
        int newAccountOrderNumber = newAccountOrder.moveUp ? changingAccount.Order - 1 : changingAccount.Order + 1;
        changingAccount.Order = newAccountOrderNumber;
        ElementReference changingAccountCardReference = AccountCardReferences.First(accountCardReference => accountCardReference.Account.Name == newAccountOrder.AccountName).AccountCardReference;

        Account affectedAccount = Context.Accounts.First(account => account.Order == newAccountOrderNumber);
        if (newAccountOrder.moveUp)
            affectedAccount.Order++;
        else if (!newAccountOrder.moveUp)
            affectedAccount.Order--;
        ElementReference affectedAccountCardReference = AccountCardReferences.First(accountCardReference => accountCardReference.Account.Name == affectedAccount.Name).AccountCardReference;

        await JSRuntime.InvokeVoidAsync("PullAway", changingAccountCardReference);
        await JSRuntime.InvokeVoidAsync("PullAway", affectedAccountCardReference);

        await Context.SaveChangesAsync();
        await InvokeAsync(StateHasChanged);

        await JSRuntime.InvokeVoidAsync("BringBack", changingAccountCardReference);
        await JSRuntime.InvokeVoidAsync("BringBack", affectedAccountCardReference);
    }
}
